*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 500;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.App {
  text-align: center;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.form {
  max-width: 400px;
  width: 70%;
  height: 200px;
  position: absolute;
}

.input {
  box-shadow: 0px 0px 8px 3px rgba(16, 192, 10, 0.47);
  width: 100%;
  color: rgb(223, 223, 223);
  padding: 0.5em 0.5em;
  padding-right: 62px;
  background-color: #ffffff00;
  border: 2px solid var(--input-border);
  border-radius: 2px;
  transition: 180ms box-shadow ease-in-out;
  font: bold 16px "lucida sans", "trebuchet MS", "Tahoma";
}

.input-box {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  width: 100%;
  height: 56px;
  margin-top: 4px;
  margin-bottom: 24px;
}

.input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

.input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input-box button {
  overflow: visible;
  position: absolute;
  float: right;
  right: 0;
  border: 0;
  padding: 0;
  padding-top: 3px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  color: #fff;
  text-transform: uppercase;
  background: rgb(16, 192, 10);
  z-index: 100;
  border-radius: 0px 2px 2px 0px;
}

.icon-button {
  padding: 4px;
  border: 0;
  cursor: pointer;
  width: 56px;
  height: 56px;
  color: #000000;
  background: rgb(16, 192, 10);
  border-radius: 2px;
}

.scan-icon {
  margin-top: 3px;
  width: 36px;
  height: 36px;
}

.paste-icon {
  width: 36px;
  height: 36px;
}

.label {
  color: rgb(223, 223, 223);
  font-weight: 500;
  line-height: 1;
  margin-bottom: 12px;
  font: bold 18px "lucida sans", "trebuchet MS", "Tahoma";
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mint-button {
  margin: 0 auto;
  width: 180px;
  display: block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #e6e6e6;
  border-radius: 2px;
  color: #d8d8d8;
  background: #000000;
  font: bold 20px "lucida sans", "trebuchet MS", "Tahoma";
  font-weight: 600;
  line-height: 20px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mint-button:disabled {
  border: 2px solid #444444;
  color: #3b3b3b;
}

.mint-button:hover:enabled {
  background: rgb(16, 192, 10);
}

.loader {
  margin-top: 12px;
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  background: rgb(16, 192, 10);
  box-shadow: 0 0 0 0 rgba(16, 192, 10, 0.5);
  animation: grow 0.5s linear, pulse 2s linear 0.5s infinite;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(16, 192, 10, 0.5);
  animation: inherit;
  animation-delay: -0.5s;
}

.loader:after {
  animation-delay: -1s;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 44.8px #0000;
  }
}

.qr-reader {
  width: 430px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Media Queries for mobile screens */
@media (max-width: 426px) {
  .qr-reader {
    width: 100%;
  }
}
